<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>数据面板</title>


    <!-- core dependcies css -->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="static/css/nouislider.css" rel="stylesheet">

    <!-- core css -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/themify-icons.css" rel="stylesheet">
    <link href="static/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="static/css/app.css" rel="stylesheet">
</head>

<body>
    <div class="app header-info">
        <div class="layout">
            <!-- 顶导 -->
            <div class="header navbar">
                <div class="header-container">
                    <div class="nav-logo">
                        <a href="/">
                            <div class="logo logo-white" style="background-image: url('static/image/logo-white.png')"></div>
                        </a>
                    </div>
                    <ul class="nav-left">
                        <li>
                            <a class="sidenav-fold-toggler" href="javascript:void(0);">
                                <i class="mdi mdi-menu"></i>
                            </a>
                            <a class="sidenav-expand-toggler" href="javascript:void(0);">
                                <i class="mdi mdi-menu"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="m-r-10">
                            <a class="quick-view-toggler" href="javascript:void(0);">
                                <i class="mdi mdi-format-indent-decrease"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 顶导 -->

            <!-- 左侧贴边导航栏 -->
            <div class="side-nav expand-lg">
                <div class="side-nav-inner">
                    <ul class="side-nav-menu scrollable">
                        <li class="side-nav-header">
                            <span>导航</span>
                        </li>
                        <li class="nav-item dropdown open">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="mdi mdi-gauge"></i>
                                </span>
                                <span class="title">数据看板</span>
                                <span class="arrow">
                                    <i class="mdi mdi-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active">
                                    <a href="">全局看板</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="mdi mdi-image-filter-drama"></i>
                                </span>
                                <span class="title">数据详情</span>
                                <span class="arrow">
                                    <i class="mdi mdi-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/RouteCheck">路由监控</a>
                                </li>
                                <li>
                                    <a href="/csvData">数据记录</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- 左侧贴边导航栏 -->

            <!-- 页面内容块 -->
            <div class="page-container">
                <!-- 右侧导航栏 -->
                <div class="quick-view">
                    <ul class="quick-view-tabs nav nav-tabs nav-justified" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#UI-config" role="tab" data-toggle="tab">
                                <span>UI调整</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#TOOL-config" role="tab" data-toggle="tab">
                                <span>控制台</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#TEXT-config" role="tab" data-toggle="tab">
                                <span>说明文字</span>
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content scrollable">
                        <!-- UI调整模块 -->
                        <div id="UI-config" role="tabpanel" class="tab-pane fade in active">
                            <div class="theme-configurator p-20">
                                <div class="m-v-20 border bottom">
                                    <p class="text-dark text-semibold m-b-0">纯色配色</p>
                                    <p class="m-b-15">页面UI采用纯色配色</p>
                                    <div class="theme-selector p-b-20">
                                        <label>
                                            <input type="radio" value="default" name="header-theme">
                                            <span class="theme-color bg-white border"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="primary" name="header-theme">
                                            <span class="theme-color bg-primary"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="info" name="header-theme">
                                            <span class="theme-color bg-info"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="success" name="header-theme">
                                            <span class="theme-color bg-success"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="warning" name="header-theme">
                                            <span class="theme-color bg-warning"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="danger" name="header-theme">
                                            <span class="theme-color bg-danger"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="dark" name="header-theme">
                                            <span class="theme-color bg-dark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-v-15 border bottom">
                                    <p class="text-dark text-semibold m-b-0">渐变配色</p>
                                    <p class="m-b-15">页面UI采用渐变色配色</p>
                                    <div class="theme-selector p-b-15">
                                        <label>
                                            <input type="radio" value="primary-gradient" name="header-theme">
                                            <span class="theme-color bg-gradient-primary"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="info-gradient" name="header-theme">
                                            <span class="theme-color bg-gradient-info"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="success-gradient" name="header-theme">
                                            <span class="theme-color bg-gradient-success"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="warning-gradient" name="header-theme">
                                            <span class="theme-color bg-gradient-warning"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="danger-gradient" name="header-theme">
                                            <span class="theme-color bg-gradient-danger"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="m-v-15 border bottom">
                                    <p class="text-dark text-semibold m-b-0">导航背景</p>
                                    <p class="m-b-15">左侧导航栏背景颜色</p>
                                    <div class="theme-selector p-b-15">
                                        <label>
                                            <input type="radio" value="default" name="side-nav-color">
                                            <span class="theme-color bg-white border"></span>
                                        </label>
                                        <label>
                                            <input type="radio" value="dark" name="side-nav-color">
                                            <span class="theme-color bg-dark"></span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- UI调整模块 -->

                        <!-- 控制台调整模块 -->

                        <div id="TOOL-config" role="tabpanel" class="tab-pane fade ">
                            <div class="theme-configurator p-20">
                                <div class="m-v-20 border bottom">
                                    <p class="text-dark text-semibold m-b-0">数据功能操作</p>
                                    <p class="m-b-15">调整全局配置</p>
                                    <button class="btn btn-success btn-outline" id="resume" >开始记录</button>
                                    <button class="btn btn-warning btn-outline hidden-button" id="pause">停止记录</button>
                                    <button class="btn btn-danger btn-outline" id="reset">重新启动</button>
                                </div>

                                <div class="m-v-15 border bottom">
                                    <div class="text-dark text-semibold m-b-15" >
                                        <span>数据采集间隔</span>
                                        <span class="pull-right">
                                            <span id="Rotate"></span>秒
                                        </span>
                                    </div>
                                    <div class="m-b-40">
                                        <div class="slider-primary" id="TimeRotate" onmousemove="ChangeTimeRotate()" onmouseup="SendTimeRotate()" onclick="CloseSend()"></div>
                                    </div>
                                </div>
                                <div class="m-v-15 border bottom">
                                    <div class="text-dark text-semibold m-b-15">
                                        <span>时间轴缓存数据</span>
                                        <span class="pull-right">
                                            <span id="line"></span>位
                                        </span>
                                    </div>
                                    <div class="m-b-40">
                                        <div class="slider-primary" id="Xline" onmousemove="ChangeXline()" onmouseup="SendXline()"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 控制台调整模块 -->


                        <!-- 内容调整模块 -->
                        <div id="TEXT-config" role="tabpanel" class="tab-pane fade">
                            <div class="theme-configurator p-20">
                                <div class="m-v-20 border bottom">
                                    <p class="text-dark text-semibold m-b-0">图表说明文字</p>
                                    <div class="form-group">
                                        <label class="control-label">此处为首页大图表中说明段落</label>
                                        <textarea class="form-control" id="SaveText" onblur="SaveText()" rows="30" maxlength="150">{{InforText}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 内容调整模块 -->
                    </div>
                </div>
                <!-- 右侧导航栏  -->

                <!-- 中心内容块 -->
                <div class="main-content">
                    <div class="container-fluid">
                        <!-- 大图 -->
                        <div class="row">
                            <!-- 数据看板 -->
                            <div class="col-sm-9">
                                <div class="card special-height">
                                    <div class="card-header no-padding-bottom">
                                        <h4 class="card-title">数据展示大图</h4>

                                    </div>
                                    <div class="card-body no-padding-top">
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="text-left" id="InforText">
                                                    {{InforText}}
                                                </div>
                                                <div class="m-t-30">
                                                    <div id="mix_line" class="chart_line">
                                                    当前无数据
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 实时数据 -->
                            <div class="col-sm-3">
                                <div class="card special-height">
                                    <div class="card-header">
                                        <h4 class="card-title">T=<span id="time_data">0</span>时刻数据</h4>
                                        <div class="card-toolbar">
                                            <ul>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="table-overflow">
                                        <table class="table table-lg">
                                            <thead>
                                                <tr>
                                                    <td class="text-dark text-semibold">串口</td>
                                                    <td class="text-dark text-semibold">数据</td>
                                                </tr>
                                            </thead>
                                            <tbody id="PortTable">

                                                <!-- 单组数据 -->

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- 大图 -->


                        <!-- 子表 -->
                        <div class="row">
                            {% for SonData in SonDatas %}
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header no-padding-bottom">
                                        <h4 class="card-title">{{[SonData][0][1]}}端口数据</h4>
                                    </div>
                                    <div class="card-body no-padding-top">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="m-t-20">
                                                    <div id="Cline{{[SonData][0][0]}}" class="chart_line">
                                                    当前无数据
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- 子表 -->
                        <div id="FirstPage" class="hidden-button">{{FirstPage}}</div>
                        <div id="Rot" class="hidden-button">{{Rotate}}</div>
                        <div id="Xli" class="hidden-button">{{showData}}</div>
                    </div>
                </div>
                <!-- 中心内容块 -->

                <!-- 底部 -->
                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright text-center text-gray">
                            串口数据实时显示V1.0
                        </div>
                    </div>
                </footer>
                <!-- 底部 -->

            </div>
            <!-- 页面内容块 -->

        </div>
    </div>

    <script src="static/js/vendor.js"></script>

    <script src="static/js/app.min.js"></script>

    <!-- 页面图表Js -->
    <script type="text/javascript" src="static/js/nouislider.js"></script>

    <script type="text/javascript" src="static/js/Slider.js"></script>

    <script src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/echarts.min.js"></script>
    <script type="text/javascript" src="static/js/chartsneed.js"></script>

</body>

</html>